/* base */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;300;500;800&display=swap');

html {
  font-size: 65.5%;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

p {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: #2e2e2e;
  line-height: 1.4em;
  font-size: clamp(1.6rem, 1.5259259259259261rem + 0.37037037037037024vw, 2rem);

  @supports not (font-size: clamp(1.6rem, 0.37037037037037024vw, 2rem)) {
    font-size: min(max(1.6rem, 0.37037037037037024vw), 2rem);
  }
}

hr {
  border: 2px solid #5b5b5b;
}

/* headings */

h1,
h2,
h3, 
h4 {
  font-family: Bebas Neue, sans-serif;
  font-weight: 800;
  color: #000;
}

h1 {
  font-size: clamp(3rem, 2.4444444444444446rem + 2.7777777777777777vw, 6rem);

  @supports not (font-size: clamp(3rem, 2.7777777777777777vw, 6rem)) {
    font-size: min(max(3rem, 2.7777777777777777vw), 6rem);
  }
}

h2 {
  font-size: clamp(3rem, 2.4444444444444446rem + 2.7777777777777777vw, 6rem);

  @supports not (font-size: clamp(3rem, 2.7777777777777777v, 6rem)) {
    font-size: min(max(3rem, 2.7777777777777777v), 6rem);
  }
}

h3 {
  font-size: clamp(1.8rem, 1.577777777777778rem + 1.111111111111111vw, 3rem);

  @supports not (font-size: clamp(1.8rem, 1.111111111111111vw, 3rem)) {
    font-size: min(max(1.8rem, 1.111111111111111vw), 3rem);
  }
}

h4 {
font-size: clamp(1.6rem, 1.414814814814815rem + 0.9259259259259258vw, 2.6rem);

  @supports not (font-size: clamp(1.6rem, 0.9259259259259258vw, 2.6rem)) {
    font-size: min(max(1.6rem, 0.9259259259259258vw), 2.6rem);
  }
}

a {
  text-decoration: none;
}

a h2:hover {
    color: #5b5b5b;
}

/* navigation header and logo */

header {
  width: 100%;
  padding: 20px 0 20px 0;
  height: 45px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid #5b5b5b;
}

#logo-wrapper {
  margin-left: 40px;
}

#logo {
  font-size: clamp(2.5rem, 1.8518518518518519rem + 3.2407407407407405vw, 6rem);

  @supports not (font-size: clamp(2.5rem, 3.2407407407407405vw, 6rem)) {
    font-size: min(max(3rem, 3.2407407407407405vw), 6rem);
  }
}

#nav-menu-items a {
  text-decoration: none;
  color: inherit;
}

#nav-menu-items a:hover {
  border-bottom: 5px solid #5b5b5b;
}

.active {
  background-color: #5b5b5b;
  padding: 0 5px 0px 5px;
  color: #fff;
}

#nav-menu-wrapper {
  margin-right: 40px;
}

#nav-menu-items {
  list-style: none;
  display: inline-flex;
}

#nav-menu-items li {
  font-family: Bebas Neue, sans-serif;
  margin-right: 20px;
  font-size: clamp(1.8rem, 1.577777777777778rem + 1.111111111111111vw, 3rem);

  @supports not (font-size: clamp(1.8rem, 1.111111111111111vw, 3rem)) {
    font-size: min(max(1.8rem, 1.111111111111111vw), 3rem);
  }
}

/* Hero Image */

#home-hero-outer {
  width: 100%;
  height: 600px;
  position: relative;
  border-bottom: 5px solid #5b5b5b;
}

#home-hero-image {
  background: url('../images/home-olearys-bg.jpg') no-repeat center center;
  background-color: #262626;
  width: 100%;
  height: 600px;
  background-size: cover;
}

#home-overlay-text h2 {
  color: #fff;
}

#home-overlay-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 60%;
  height: 160px;
  background-color: #000;
  bottom: -70px;
  padding: 10px 10px 10px 40px;
  position: absolute;
}

/* home sections default */

.left-box {
  padding: 75px;
  width: 50%;
}

.left-box p {
  margin-top: 30px;
  padding-right: 75px;
}

.right-box {
  padding: 75px;
  width: 50%;
}

.right-box p {
  margin-top: 30px;
  padding-right: 75px;
}

/* pub section */

#pub-section {
  width: 100%;
  clear: both;
  margin-top: 50px;
  display: inline-flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

#pub-section img {
  border: 5px solid #5b5b5b;
  box-shadow: rgb(69, 69, 69) 0px 20px 30px -10px;
}


/* food section */

#food-section {
  width: 100%;
  margin-top: -75px;
  clear: both;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#food-section img {
  border: 5px solid #5b5b5b;
  box-shadow: rgb(69, 69, 69) 0px 20px 30px -10px;
}

/* beer section */

#beer-section {
  width: 100%;
}

#beer-headline {
  text-align: center;
}

#beer-image-cards {
  margin-top: 75px;
  width: 100%;
  clear: both;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.single-beer-cards {
  padding: 50px;
  text-align: center;
  border: 5px solid #5b5b5b;
  box-shadow: rgb(69, 69, 69) 0px 20px 30px -10px;
  transition: transform .2s;
  /* Animation */
}

.single-beer-cards:hover {
  transform: scale(1.1);
}

.single-beer-cards h3 {
  margin-top: 16px;
}

/* footer */
footer {
  width: 100%;
  height: 75px;
  margin: 75px 0 50px 0;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

#footer-nav-menu-wrapper {
  margin-right: 40px;
}

#footer-nav-menu-items {
  list-style: none;
  display: inline-flex;
}

#footer-nav-menu-items li {
  font-family: Bebas Neue, sans-serif;
  margin-right: 20px;
  font-size: clamp(1.8rem, 1.577777777777778rem + 1.111111111111111vw, 3rem);

  @supports not (font-size: clamp(1.8rem, 1.111111111111111vw, 3rem)) {
    font-size: min(max(1.8rem, 1.111111111111111vw), 3rem);
  }
}

/* food page */

#food-hero-image {
  background: url('../images/bar-food-header.jpg') no-repeat center center;
  background-color: #262626;
  width: 100%;
  height: 600px;
  background-size: cover;
}

/* food menu section */

#menu-section {
  width: 100%;
  clear: both;
  margin-top: 50px;
  display: inline-flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
}

#menu-section h2 {
  text-align: center;
}

/* food menu */

.list-menu li {
font-size: 190%;
line-height: 1.6em;
color: #2e2e2e;
}

.list-menu ul {
  margin-bottom: 50px;
  }

.list-menu h3 {
    margin-bottom: 20px;
    }

/* booking form */

#book-table-form {
  font-size: 130%;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;

}

.booking-form>h2 {
  color: #fafafa;
  margin-bottom: 20px;
}

.booking-form {
  color: #fff;
  background-color: #000;
  max-width: 100%;
  left: 10%;
  padding: 30px;
  z-index: 2;
}

.text-input {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
  padding: 5px;
  font-size: 150%;
}

.text-input:hover {
  border-color: #000000;
}

.text-area {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 200px;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
  padding: 5px;
}

.text-area:hover {
  border-color: #000000;
}

fieldset {
  margin-bottom: 20px;
}

.submit-button {
  border-radius: 2px;
  padding: 15px 32px 15px 32px;
  text-align: center;
  font-size: 130%;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  display: block;
}

.submit-button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
}

fieldset {
  border: 1px solid #fafafa;
  border-radius: 2px;
  padding: 5px;
  width: 100%;
}

/* beer page */

#beer-hero-image {
  background: url('../images/beer-header.jpg') no-repeat center center;
  background-color: #262626;
  width: 100%;
  height: 600px;
  background-size: cover;
}

/* contact page */

#contact-hero-image {
  background: url('../images/beer-header.jpg') no-repeat center center;
  background-color: #262626;
  width: 100%;
  height: 600px;
  background-size: cover;
}

/* smaller screens media queries */

@media screen and (max-width: 1200px) {
  header {
    flex-direction: column;
    height: 100px;
  }

  #logo-wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  #nav-menu-wrapper {
    margin-right: 0; 
  }

  #home-hero-outer {
    width: 100%;
    height: 500px;
  }
  
  #home-hero-image {
    width: 100%;
    height: 500px;
  }

  #food-hero-image {
    width: 100%;
    height: 500px;
  }

  #beer-hero-image {
    width: 100%;
    height: 500px;
  }

  #contact-hero-image {
    width: 100%;
    height: 500px;
  }

  #pub-section {
    flex-direction: column;
    margin-top: 75px;
    padding: 30px;
    width: 90%;
  }

  #pub-section img {
    width: 100%;
    margin-top: 20px
  }

  #food-section {
    flex-direction: column-reverse;
    margin-top: 0;
    padding: 30px;
    width: 90%;
  }

  #food-section img {
    width: 100%;
    margin-top: 20px
  }

  #beer-section {
    margin-top: 0;
    padding: 30px;
    width: 90%;
  }

  #beer-image-cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  #beer-headline {
    text-align: left;
    border-bottom: 5px solid #5b5b5b;
  }

  .single-beer-cards {
    width: 33%;
  }

  .left-box {
    width:100%;
    margin-left: auto;
    padding: 0;
  }

  .right-box {
    width:100%;
    margin-left: auto;
    padding: 0;
  }

  #menu-section {
    flex-direction: column;
    margin-top: 75px;
    padding: 30px;
    width: 90%;
  }

  footer {
    flex-flow: column;
  }

  #footer-nav-menu-wrapper {
    margin: 20px 0 20px 0;
  }

  /* form styling */
  .signup-form {
    max-width: 100%;
  }
}